.radio{
    height: auto;
    width:auto;
}
.card{
   
    max-width: 50%;
    margin: 0px auto;
    filter:drop-shadow(8px 8px 4px );
    margin-bottom: 10px;
    height: 500px;
}
.answer{
    padding:3px;
    margin:5px;
}
.form-group{
 font-size: larger;
  max-width: fit-content;
    display: block;
    margin: auto;
}
.text{
    width:fit-content;
    margin:0px 88px;
}
.questionlabel{
    margin-right: 50px;
}
.okk{
    display: inline-block;
}
fieldset{
    max-width: fit-content;
    margin: auto;
}
.questionlabell{
    margin:0px -44px;
}
textarea{
    height:60px;
    width: 300px;
    margin-top:15px;
    border:2px solid black;
    border-radius: 5px;

}
.clickk{
    display:block;
    margin: auto;
    background-color:bisque;
    color:black;
    border:1px solid black;
    height:fit-content;
}
.clickk:hover{
    background-color: orange;
    color:white;
    border:1px solid red;
}

